div {
  text-align: center;
};


h1 {
 text-align: center;
};

.navbar.navbar-default {
  background-color: #12293f;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}